// app global css in SCSS form
@import './web-fonts/PlusJakartaSans.css';
@import './container.scss';

body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 14px;
	background-color: $background;
	color: $text;

	&:after {
		@include grainy-background-psuedo-element;
		opacity: 0.35;
		z-index: 9000;
		position: fixed;
	}
}

.logo-mono-white-no-circle {
	height: 50px;
	width: 50px;

	img {
		background: url('images/logo-bg-gradient.jpg') no-repeat center center;
		background-size: cover;
	}
}

.header1 {
	font-weight: 600;
	font-size: 28px;
}

.header2 {
	font-weight: 600;
	font-size: 24px;
}

.header3 {
	font-weight: 600;
	font-size: 16px;
}

.small {
	font-size: 11px;
}

.btn-text {
	font-size: 12px;
	text-transform: capitalize;
}

.color-primary {
	color: $primary;
}

.color-secondary {
	color: $secondary;
}

.color-tertiary {
	color: $tertiary;
}

.color-accent {
	color: $accent;
}

.color-accent2 {
	color: $accent2;
}

.color-text {
	color: $text;
}

.color-subtext {
	color: $subtext;
}

.color-separator {
	border-color: $separator-color;
	background-color: $separator-color;
	color: $separator-color;
}

.bg-tertiary {
	background-color: $tertiary;
}

.text-tertiary {
	color: $tertiary;
}

.bg-accent2 {
	background-color: $accent2;
}

.text-accent2 {
	color: $accent2;
}


.border-separator {

	&,
	&:after,
	&:before {
		border-width: 1px;
		border-color: $separator-color;
	}
}

hr {
	@extend .color-separator !optional;
	border: 1px solid;
	border-bottom: 0;
	border-radius: 1px;
}

.fit-content {
	width: fit-content;
}

.q-body--force-scrollbar-x,
.q-body--force-scrollbar-y {
	overflow: hidden;
}


.q-drawer__backdrop,
.global-spinner-wrapper {
	backdrop-filter: blur(10px);

	&:before {
		display: block;
		content: '';
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background: url('images/logo-bg-gradient.jpg') no-repeat center center;
		background-size: cover;
		opacity: 0.4;
		pointer-events: inherit;
	}

	&:after {
		@include grainy-background-psuedo-element;
	}

	.global-spinner {
		&:before {
			display: block;
			content: "";
			background: url(images/logo-mono-white-no-circle.svg) no-repeat center center;
			background-size: cover;
			opacity: 1;
			height: 15vw;
			width: 15vw;
			z-index: 1;
			position: relative;
			animation-name: bilinking-rotate;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

		.q-spinner {
			display: none;
		}
	}
}

@keyframes bilinking-rotate {
	0% {
		transform: rotate(0deg);
		opacity: 0.8;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		transform: rotate(-360deg);
		opacity: 0.8;
	}
}