// app global css in SCSS form
@import '@/css/web-fonts/PlusJakartaSans.css';
@import '@/css/container.scss';

body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 14px;
	background-color: $background;
	color: $text;

	&:after {
		@include grainy-background-psuedo-element;
		opacity: 0.35;
		z-index: 10000;
		position: fixed;
	}
}

.logo-mono-white-no-circle {
	height: 50px;
	width: 50px;

	img {
		background: url('/images/logo-bg-gradient.jpg') no-repeat center center;
		background-size: cover;
	}
}

.header1 {
	font-weight: 600;
	font-size: 28px;
}

.header2 {
	font-weight: 600;
	font-size: 24px;
}

.header3 {
	font-weight: 600;
	font-size: 16px;
}

.small {
	font-size: 11px;
}

.btn-text {
	font-size: 12px;
	text-transform: capitalize;
}

.color-primary {
	color: $primary;
}

.color-secondary {
	color: $secondary;
}

.color-tertiary {
	color: $tertiary;
}

.color-accent {
	color: $accent;
}

.color-accent2 {
	color: $accent2;
}

.color-text {
	color: $text;
}

.color-subtext {
	color: $subtext;
}

.color-separator {
	border-color: $separator-color;
	background-color: $separator-color;
	color: $separator-color;
}

.bg-tertiary {
	background-color: $tertiary;
}

.text-tertiary {
	color: $tertiary;
}

.bg-accent2 {
	background-color: $accent2;
}

.text-accent2 {
	color: $accent2;
}


.border-separator {

	&,
	&:after,
	&:before {
		border-width: 1px;
		border-color: $separator-color;
	}
}

hr {
	@extend .color-separator !optional;
	border: 1px solid;
	border-bottom: 0;
	border-radius: 1px;
}

.fit-content {
	width: fit-content;
}

.q-body--force-scrollbar-x,
.q-body--force-scrollbar-y {
	overflow: hidden;
}


.q-drawer__backdrop,
.q-dialog__backdrop,
.global-spinner-wrapper {
	backdrop-filter: blur(10px);

	&:before {
		display: block;
		content: '';
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background: url('/images/logo-bg-gradient.jpg') no-repeat center center;
		background-size: cover;
		opacity: 0.4;
		pointer-events: inherit;
	}

	&:after {
		@include grainy-background-psuedo-element;
	}

	.global-spinner {
		&:before {
			display: block;
			content: "";
			background: url('/images/logo-mono-white-no-circle.svg') no-repeat center center;
			background-size: cover;
			opacity: 1;
			height: 15vw;
			width: 15vw;
			z-index: 1;
			position: relative;
			animation-name: bilinking-rotate;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

		.q-spinner {
			display: none;
		}
	}
}

@keyframes bilinking-rotate {
	0% {
		transform: rotate(0deg);
		opacity: 0.8;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		transform: rotate(-360deg);
		opacity: 0.8;
	}
}

.q-dialog {
	.q-card {
		border-radius: 20px;
		box-shadow: rgba(0, 0, 0, 0.04) 0px 30px 75px -5px, rgba($text, 0.5) 0px 20px 35px -5px;
	}
}

.q-field {
	.q-field__inner {
		.q-field__control {
			border-radius: 16px;
			font-size: 16px;
		}
	}

	&.q-field--dense {
		.q-field__control {
			border-radius: 12px;
		}
	}
}

.q-notifications__list {
	&.q-notifications__list--top {
		top: 95px;
	}
}

.notification-popup {
	border-radius: 30px;
	padding: 0;
	user-select: none;
	box-shadow: none;

	&.bg-warning {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 30px -20px,
			rgba($warning, 0.5) 0px 20px 25px -15px;
	}

	&.bg-negative {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 30px -20px,
			rgba($negative, 0.5) 0px 20px 25px -15px;
	}

	&.bg-positive {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 30px -20px,
			rgba($positive, 0.5) 0px 20px 25px -15px;
	}

	&.bg-info {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 30px -20px,
			rgba($info, 0.5) 0px 20px 25px -15px;
	}

	.q-notification__wrapper {
		padding: 0 16px;
		border-radius: 30px;

		.q-notification__progress {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			left: 0px;
			right: 0px;
			height: 100%;
			width: calc(100%);
			border-radius: 30px;
			background-color: transparent;
			opacity: 0.15;
			overflow: hidden;
			animation: none;
			transform: none;

			&:before {
				position: absolute;
				display: block;
				// height: 3px;
				height: 100%;
				width: 90%;
				content: '';
				background-color: currentColor;
				bottom: 0;
				transform: scaleX(0);
				animation: q-notif-progress linear;
				animation-duration: inherit;
			}
		}

		.q-notification__actions {
			color: inherit !important;

			button {
				color: inherit !important;
			}
		}
	}
}